*{
    list-style: none;
    text-decoration: none ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
/*---------------- FIRST SECTION BEGINS || WELCOME ------------------------*/
.container{
    width: 100%;
    height: 600px;
    background-color: #073042;     
    padding: 80px 100px;
}
.container .welcome{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 64px 0 70px;
    padding: 0 100px 0 80px;
}
.welcome .right-text{
    width: 680px;
    height: 400px ;
    color: #FFFFFF;
    padding-left: 40px;
}
.welcome  .left-video img{
    width: 400px;
    height: 420px;

}
.welcome .right-text h1{

  font-size: 64px;
  font-size: bold;
  padding-bottom: 20px;

}
.welcome .right-text p{
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    padding-bottom: 50px;
}
.welcome .right-text button{
    color: black;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #3DDC84;
    font-size: 16px;
    font-weight: bold;
}
.welcome .right-text a{
    color: #3DDC84;
    padding-left: 6px;
    font-size: 16px;
    font-weight: bold;
}
@media screen and (max-width : 700px){
    .container{
        margin: 0px;
        padding: 0px;
    }
    .container .welcome{
        margin: 0;
        padding: 0;
    }
    .welcome .right-text{ 
        margin: 10px;
        padding: 10px;
    }
    .welcome .right-text button{
        width: 100%;
        margin: auto;
        margin-bottom: 22px;
    }
    .welcome .right-text a{
        margin: auto;
        padding-left: 38%;
        
    }
}
/*---------------- FIRST SECTION ENDS -|| WELCOME -----------------------*/

/* ------------------- DOWNLOAD-LAUNCH-VIEW  SECTION BEGINS---------------------------- */
.container1{
    height: 100%;
    margin: 0 15% 0 15%;

}
.boxes-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    padding-top: 50px;
}
.boxes-div .box{
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: #D7EFFE;
    padding: 20px;
    font-size: 20px;
    color: black;
}
.boxes-div .box img{
    width: 48px;
    height: 48px;
}

.boxes .box .text{
    font-weight: bold;
}

@media screen and (max-width : 700px){
    .container1{
        margin: 20px;
        padding: 0px;
    }


   .boxes-div{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    
    
   }
   .boxes-div .box{
    margin-bottom: 20px;
    max-width: 100%;
   }
}
/* --------------------- DOWNLOAD-LAUNCH-VIEW   SECTION ENDS---------------------------------- */



/* ---------------FEATURED BOXES SECTION BEGINS------------------------------ */
.container1 .featured-div{
    display:  flex;
    justify-content: space-between;
    height: 750px;
    padding : 20px 0px 50px 0px;
}

.container1 .featured-div .box-featured-left{
    background-color: #073042;     
    width: 50%;
    color: #FFFFFF;
    padding: 40px;
    display: flex;
}
.container1 .featured-div .gap-div{
    width : 50px;
    background-color: #FFFFFF;
}

.container1 .featured-div .box-featured-right{
    background-color: #D7EFFE;
    width: 50%;
    color: black;
    padding: 40px;
    display: flex;

}
.container1 .featured-div .left-text-div{
    width: 50%;
}
.container1 .featured-div  .right-img-div{
    position: relative;
}
.container1 .featured-div  .right-img-div img{
    position: absolute;
    top: 120px;
    left: 30px;
    width: 250px;
  
}

.container1 .featured-div .featured{
    font-size: 15px;
    padding-bottom: 20px;
}
.container1 .featured-div .heading{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    line-height: 1.5;
}

.container1 .featured-div .box-featured-left .content{
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 190px;

}
.container1 .featured-div .box-featured-left .left-text-div .buttonclass{
    padding-bottom: 50px;
}
.container1 .featured-div .box-featured-left .left-text-div button{
        width: 130px;
        height: 50px; 
        border: 2px #FFFFFF solid;
        color: #FFFFFF;
        background-color: #073042;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 25px;
        font-size: 15px;
        font-weight: 600;
        

}
.container1 .featured-div .box-featured-left .left-text-div .buttonclass  :hover{
    background-color: #FFFFFF;
    color: #073042;
}
.container1 .featured-div .box-featured-right .left-text-div .buttonclass  :hover{
    background-color: #FFFFFF;
    color: #073042;
    border: none;
}
.container1 .featured-div .box-featured-right .content{
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 60px;

}

.container1 .featured-div .box-featured-right .left-text-div .buttonclass{
   
}
.container1 .featured-div .box-featured-right .left-text-div button{
    width: 130px;
    height: 50px; 
    color: #073042;
    background-color: #D7EFFE;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    

}

.container1 .featured-div .image{
    
}
.container1 .featured-div .box-featured-left .left-text-div button{

}
@media screen and (min-width : 701px){
    .container1 .featured-div  .box-featured-left .left-text-div  img{
        display: none;
    }
    .container1 .featured-div .box-featured-right .left-text-div img{
        display: none;
    }
}
@media screen and (max-width : 700px){
    .container1 .featured-div{
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        margin-top: 0;
        padding-top: 0;

    }
    .container1 .featured-div .box-featured-left{
        width:auto;
        top :0px;
        display: flex;
        padding: 20px 20px;
        flex-direction: column;
        position: absolute;
        position: relative;
        height: 560px;

    }
    .container1 .featured-div  .box-featured-left .left-text-div {
        width: 100%;
        height: auto;
        margin: 0px;

    }
    .container1 .featured-div  .box-featured-left .left-text-div .heading{
        padding: 0;
        font-size: 24px;

    }
    .container1 .featured-div  .box-featured-left .left-text-div .content{
        height: 200px;

    }
    .container1 .featured-div  .box-featured-left .left-text-div .buttonclass{
        width: 88%;
        position: absolute;
        height: 60px;
        top: 300px;
        margin: auto;

    }
    .container1 .featured-div  .box-featured-left .left-text-div  .buttonclass button{
        width: 100%;
    
    }
    .container1 .featured-div  .box-featured-left .left-text-div  img{
        position: absolute;
        right: 20px;
        bottom: 40px;
        width: 130px;

    }

    .container1 .featured-div  .box-featured-left .right-img-div img{
        display: none;
    }



    .container1 .featured-div .box-featured-right{
        width: auto;
        top:0px;
        padding-top: 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: absolute;
        position: relative;
        margin-top: 20px;
        height: 700px;   
     
    }

    .container1 .featured-div .gap-div {
        width: 100%;
        height: 20px;
        background-color: #FFFFFF;
        display: none;
        border-bottom: 20px #FFFFFF solid;
    }

    .container1 .featured-div .box-featured-right .left-text-div {
        width: 100%;

    }
    
    .container1 .featured-div .box-featured-right .left-text-div .heading {
        width: auto;
        font-size: 22px;

    }
   
    .container1 .featured-div .box-featured-right .left-text-div .content {
        width: 100%;
        padding-bottom: 20px;
        line-height: 1.8;
    }
    .container1 .featured-div .box-featured-right .left-text-div .buttonclass{
        width: 100%;
        padding-bottom: 20px;
    }
    .container1 .featured-div .box-featured-right .left-text-div button{
        width: 100%;
        height: 50px;
    }
    .container1 .featured-div .box-featured-right .right-img-div{
        display: none;
    }
    .container1 .featured-div .box-featured-right .left-text-div img{
        position: absolute;
        right: 20px;
        bottom: 40px;
        width: 140px;
    }
}
/* ---------------FEATURED BOXES SECTION ENDS---------------------------------------- */


/* --------------------- SECTION PLATFORM UPDATES BEGINS---------------------------------- */

.platform-tool-updates{
    width: 100%;
    height: 1800px;
    color: black;
    background-color: #F8F9FA;
    position: relative;
    padding-top: 0;
    
}

.platform-tool-updates .platform{
    width: 250px;
    height: 1150px;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.platform-tool-updates .platform .image{
    margin: 10px;
}
.platform-tool-updates  .heading{
    font-size: 65px;
    font-weight: bolder;
    letter-spacing: 1.5;
    line-height: 1.0;
}
.platform-tool-updates  .content{
    color: #3C4043;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 40px;

}
.platform-tool-updates  button{
    width: 90%;
    height: 50px;
    background-color: #3DDC84;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 1;
    border-radius: 25px;
    padding: 10px 24px;
    border: none;

}

.platform-tool-updates .compose {
    position: absolute;
    left: 420px;
    width: 32%;
    height: 550px;
}

.platform-tool-updates .main-image img{
   width: 100%;
   height: 200px;
}
.platform-tool-updates .blog{
    width: 100%;
    margin: 10px 0px ;
    padding: 10px 0px;
}
.platform-tool-updates .heading{
    font-size: 30px;
}
.platform-tool-updates .content{
    padding-top: 50px;
}

.platform-tool-updates .whatsnew{
    position: absolute;
    width: 32%;
    height: 550px;
    right: 0px;

}
.platform-tool-updates .google-pixel{
    position: absolute;
    left: 420px;
    width: 32%;
    height: 550px;
    top: 600px;

}
.platform-tool-updates .jetpack {
    position: absolute;
    width: 32%;
    height: 550px;
    right: 0px;
    top: 600px;

}
.platform-tool-updates .tool-updates{
    position: absolute;
    width: 260px;
    height: 550px;
    top: 1200px;


}
.platform-tool-updates .tool-updates .image {
}
.platform-tool-updates .tool-updates .image img{
    height: 100px;
    width: 100px;
    align-self: flex-start;

}
.platform-tool-updates .tool-updates .heading{
    margin-top: 10px;
}
.platform-tool-updates .tool-updates{
}
.platform-tool-updates .tool-updates button{
    width: 150px;
}
.platform-tool-updates .flamingo{
    position: absolute;
    left: 420px;
    width: 32%;
    height: 550px;
    top: 1200px;

}
.platform-tool-updates .electric-eel{
    position: absolute;
    width: 32%;
    height: 550px;
    right: 0px;
    top: 1200px;

}

@media screen and (max-width : 700px)
{
    .platform-tool-updates{
        width: 100%;
        height: 3500px;
        position: absolute;
        top: 0px;
        position: relative;
    }
    .platform-tool-updates .platform{
        width: 100%;
        height: 330px;
        position: absolute;
        top: 10px;
        left: 0px;
        margin-bottom: 2px;
        padding: 15px;
    }
    .platform-tool-updates .platform .image{
        height: 80px;

    }
    .platform-tool-updates .platform .image img{
        height: 80px;
        width: 80px;
        object-fit: contain;

    }
    .platform-tool-updates .platform .heading{
        margin-bottom: 15px;

    }
    .platform-tool-updates .platform .content{
        padding-top: 5px;
        
        
    }
    .platform-tool-updates .platform .button{
        width: 330px;

    }
    .platform-tool-updates .platform .button button{
        width: 100%;

    }


    .platform-tool-updates .compose{
        width: 100%;        
        height: 550px;
        position: absolute;
        top: 360px;
        left: 0px;
        margin-bottom: 2px;


    }
    .platform-tool-updates img{
        object-fit: cover;
    }
    .platform-tool-updates .heading{
        font-size: 24px;
    }
    .platform-tool-updates .content{
        padding-top: 20px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .platform-tool-updates .whatsnew{
        width: 100%;
        height: 550px;
        position: absolute;
        top: 850px;
        left: 0px;
        margin-bottom: 2px;
    }
    .platform-tool-updates .google-pixel{
        width: 100%;
        height: 550px;
        position: absolute;
        top: 1300px;
        left: 0px;
        margin-bottom: 2px;
    }
    .platform-tool-updates .jetpack{
        width: 100%;
        height: 550px;
        position: absolute;
        top: 1750px;
        left: 0px;
        margin-bottom: 2px;
    }
    .platform-tool-updates .tool-updates{
        width: 100%;
        height: 360px;
        position: absolute;
        position: relative;
        top: 2200px;
        left: 0px;
    }
    .platform-tool-updates .tool-updates .heading{
        width: 90%;
        position: absolute;
        top: 100px;
        font-size: 32px;
    }
    .platform-tool-updates img{
        object-fit: contain;
    }

    
    .platform-tool-updates .tool-updates img{ 
        position: absolute;
        left: 0;
        top : 0px;
        width: 80px;
    }
    .platform-tool-updates .tool-updates .content{
        position: absolute;
        top: 120px;
        width: 100%;
        margin-top: 20px;

    }
    .platform-tool-updates .tool-updates .button{
        position: absolute;
        top : 220px;
        width: 100%;
    }
    .platform-tool-updates .tool-updates .button button{
        width: 100%;
    }
    .platform-tool-updates .flamingo{
        width: 100%;
        height: 550px;
        position: absolute;
        top: 2500px;
        left: 0px;
        margin-bottom: 10px;
    }
    .platform-tool-updates .electric-eel{
        width: 100%;
        height: 550px;
        position: absolute;
        top: 3000px;
        left: 0px;

    }
}
/* --------------------- SECTION PLATFORM UPDATES ENDS---------------------------------- */
