*{
    list-style: none;
    text-decoration: none ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
/*---------------- FIRST SECTION BEGINS || WELCOME ------------------------*/
.container{
    width: 100%;
    height: 600px;
    background-color: #073042;     
    padding: 80px 100px;
}
.container .welcome{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 64px 0 70px;
    padding: 0 100px 0 80px;
}
.welcome .right-text{
    width: 680px;
    height: 400px ;
    color: #FFFFFF;
    padding-left: 40px;
}
.welcome  .left-video img{
    width: 400px;
    height: 420px;

}
.welcome .right-text h1{

  font-size: 64px;
  font-size: bold;
  padding-bottom: 20px;

}
.welcome .right-text p{
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    padding-bottom: 50px;
}
.welcome .right-text button{
    color: black;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #3DDC84;
    font-size: 16px;
    font-weight: bold;
}
.welcome .right-text a{
    color: #3DDC84;
    padding-left: 6px;
    font-size: 16px;
    font-weight: bold;
}
@media screen and (max-width : 700px){
    .container{
        margin: 0px;
        padding: 0px;
    }
    .container .welcome{
        margin: 0;
        padding: 0;
    }
    .welcome .right-text{ 
        margin: 10px;
        padding: 10px;
    }
    .welcome .right-text button{
        width: 100%;
        margin: auto;
        margin-bottom: 22px;
    }
    .welcome .right-text a{
        margin: auto;
        padding-left: 38%;
        
    }
}
/*---------------- FIRST SECTION ENDS -|| WELCOME -----------------------*/

/* ------------------- DOWNLOAD-LAUNCH-VIEW  SECTION BEGINS---------------------------- */
.container1{
    height: 100%;
    margin: 0 15% 0 15%;

}
.boxes-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    padding-top: 50px;
}
.boxes-div .box{
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: #D7EFFE;
    padding: 20px;
    font-size: 20px;
    color: black;
}
.boxes-div .box img{
    width: 48px;
    height: 48px;
}

.boxes .box .text{
    font-weight: bold;
}

@media screen and (max-width : 700px){
    .container1{
        margin: 20px;
        padding: 0px;
    }


   .boxes-div{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    
    
   }
   .boxes-div .box{
    margin-bottom: 20px;
    max-width: 100%;
   }
}
/* --------------------- DOWNLOAD-LAUNCH-VIEW   SECTION ENDS---------------------------------- */



/* ---------------FEATURED BOXES SECTION BEGINS------------------------------ */
.container1 .featured-div{
    display:  flex;
    justify-content: space-between;
    height: 750px;
    padding : 20px 0px 50px 0px;
}

.container1 .featured-div .box-featured-left{
    background-color: #073042;     
    width: 50%;
    color: #FFFFFF;
    padding: 40px;
    display: flex;
}
.container1 .featured-div .gap-div{
    width : 50px;
    background-color: #FFFFFF;
}

.container1 .featured-div .box-featured-right{
    background-color: #D7EFFE;
    width: 50%;
    color: black;
    padding: 40px;
    display: flex;

}
.container1 .featured-div .left-text-div{
    width: 50%;
}
.container1 .featured-div  .right-img-div{
    position: relative;
}
.container1 .featured-div  .right-img-div img{
    position: absolute;
    top: 120px;
    left: 30px;
    width: 250px;
  
}

.container1 .featured-div .featured{
    font-size: 15px;
    padding-bottom: 20px;
}
.container1 .featured-div .heading{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    line-height: 1.5;
}

.container1 .featured-div .box-featured-left .content{
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 190px;

}
.container1 .featured-div .box-featured-left .left-text-div .buttonclass{
    padding-bottom: 50px;
}
.container1 .featured-div .box-featured-left .left-text-div button{
        width: 130px;
        height: 50px; 
        border: 2px #FFFFFF solid;
        color: #FFFFFF;
        background-color: #073042;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 25px;
        font-size: 15px;
        font-weight: 600;
        

}
.container1 .featured-div .box-featured-left .left-text-div .buttonclass  :hover{
    background-color: #FFFFFF;
    color: #073042;
}
.container1 .featured-div .box-featured-right .left-text-div .buttonclass  :hover{
    background-color: #FFFFFF;
    color: #073042;
    border: none;
}
.container1 .featured-div .box-featured-right .content{
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 60px;

}

.container1 .featured-div .box-featured-right .left-text-div .buttonclass{
   
}
.container1 .featured-div .box-featured-right .left-text-div button{
    width: 130px;
    height: 50px; 
    color: #073042;
    background-color: #D7EFFE;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    

}

.container1 .featured-div .image{
    
}
.container1 .featured-div .box-featured-left .left-text-div button{

}
@media screen and (min-width : 701px){
    .container1 .featured-div  .box-featured-left .left-text-div  img{
        display: none;
    }
    .container1 .featured-div .box-featured-right .left-text-div img{
        display: none;
    }
}
@media screen and (max-width : 700px){
    .container1 .featured-div{
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        margin-top: 0;
        padding-top: 0;

    }
    .container1 .featured-div .box-featured-left{
        width:auto;
        top :0px;
        display: flex;
        padding: 20px 20px;
        flex-direction: column;
        position: absolute;
        position: relative;
        height: 560px;

    }
    .container1 .featured-div  .box-featured-left .left-text-div {
        width: 100%;
        height: auto;
        margin: 0px;

    }
    .container1 .featured-div  .box-featured-left .left-text-div .heading{
        padding: 0;
        font-size: 24px;

    }
    .container1 .featured-div  .box-featured-left .left-text-div .content{
        height: 200px;

    }
    .container1 .featured-div  .box-featured-left .left-text-div .buttonclass{
        width: 88%;
        position: absolute;
        height: 60px;
        top: 300px;
        margin: auto;

    }
    .container1 .featured-div  .box-featured-left .left-text-div  .buttonclass button{
        width: 100%;
    
    }
    .container1 .featured-div  .box-featured-left .left-text-div  img{
        position: absolute;
        right: 20px;
        bottom: 40px;
        width: 130px;

    }

    .container1 .featured-div  .box-featured-left .right-img-div img{
        display: none;
    }



    .container1 .featured-div .box-featured-right{
        width: auto;
        top:0px;
        padding-top: 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: absolute;
        position: relative;
        margin-top: 20px;
        height: 700px;   
     
    }

    .container1 .featured-div .gap-div {
        width: 100%;
        height: 20px;
        background-color: #FFFFFF;
        display: none;
        border-bottom: 20px #FFFFFF solid;
    }

    .container1 .featured-div .box-featured-right .left-text-div {
        width: 100%;

    }
    
    .container1 .featured-div .box-featured-right .left-text-div .heading {
        width: auto;
        font-size: 22px;

    }
   
    .container1 .featured-div .box-featured-right .left-text-div .content {
        width: 100%;
        padding-bottom: 20px;
        line-height: 1.8;
    }
    .container1 .featured-div .box-featured-right .left-text-div .buttonclass{
        width: 100%;
        padding-bottom: 20px;
    }
    .container1 .featured-div .box-featured-right .left-text-div button{
        width: 100%;
        height: 50px;
    }
    .container1 .featured-div .box-featured-right .right-img-div{
        display: none;
    }
    .container1 .featured-div .box-featured-right .left-text-div img{
        position: absolute;
        right: 20px;
        bottom: 40px;
        width: 140px;
    }
}
/* ---------------FEATURED BOXES SECTION ENDS---------------------------------------- */


/* --------------------- SECTION PLATFORM UPDATES BEGINS---------------------------------- */

.platform-tool-updates{
    width: 100%;
    height: 1800px;
    color: black;
    background-color: #F8F9FA;
    position: relative;
    padding-top: 0;
    
}

.platform-tool-updates .platform{
    width: 250px;
    height: 1150px;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.platform-tool-updates .platform .image{
    margin: 10px;
}
.platform-tool-updates  .heading{
    font-size: 65px;
    font-weight: bolder;
    letter-spacing: 1.5;
    line-height: 1.0;
}
.platform-tool-updates  .content{
    color: #3C4043;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 40px;

}
.platform-tool-updates  button{
    width: 90%;
    height: 50px;
    background-color: #3DDC84;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 1;
    border-radius: 25px;
    padding: 10px 24px;
    border: none;

}

.platform-tool-updates .compose {
    position: absolute;
    left: 420px;
    width: 32%;
    height: 550px;
}

.platform-tool-updates .main-image img{
   width: 100%;
   height: 200px;
}
.platform-tool-updates .blog{
    width: 100%;
    margin: 10px 0px ;
    padding: 10px 0px;
}
.platform-tool-updates .heading{
    font-size: 30px;
}
.platform-tool-updates .content{
    padding-top: 50px;
}

.platform-tool-updates .whatsnew{
    position: absolute;
    width: 32%;
    height: 550px;
    right: 0px;

}
.platform-tool-updates .google-pixel{
    position: absolute;
    left: 420px;
    width: 32%;
    height: 550px;
    top: 600px;

}
.platform-tool-updates .jetpack {
    position: absolute;
    width: 32%;
    height: 550px;
    right: 0px;
    top: 600px;

}
.platform-tool-updates .tool-updates{
    position: absolute;
    width: 260px;
    height: 550px;
    top: 1200px;


}
.platform-tool-updates .tool-updates .image {
}
.platform-tool-updates .tool-updates .image img{
    height: 100px;
    width: 100px;
    align-self: flex-start;

}
.platform-tool-updates .tool-updates .heading{
    margin-top: 10px;
}
.platform-tool-updates .tool-updates{
}
.platform-tool-updates .tool-updates button{
    width: 150px;
}
.platform-tool-updates .flamingo{
    position: absolute;
    left: 420px;
    width: 32%;
    height: 550px;
    top: 1200px;

}
.platform-tool-updates .electric-eel{
    position: absolute;
    width: 32%;
    height: 550px;
    right: 0px;
    top: 1200px;

}

@media screen and (max-width : 700px)
{
    .platform-tool-updates{
        width: 100%;
        height: 3500px;
        position: absolute;
        top: 0px;
        position: relative;
    }
    .platform-tool-updates .platform{
        width: 100%;
        height: 330px;
        position: absolute;
        top: 10px;
        left: 0px;
        margin-bottom: 2px;
        padding: 15px;
    }
    .platform-tool-updates .platform .image{
        height: 80px;

    }
    .platform-tool-updates .platform .image img{
        height: 80px;
        width: 80px;
        object-fit: contain;

    }
    .platform-tool-updates .platform .heading{
        margin-bottom: 15px;

    }
    .platform-tool-updates .platform .content{
        padding-top: 5px;
        
        
    }
    .platform-tool-updates .platform .button{
        width: 330px;

    }
    .platform-tool-updates .platform .button button{
        width: 100%;

    }


    .platform-tool-updates .compose{
        width: 100%;        
        height: 550px;
        position: absolute;
        top: 360px;
        left: 0px;
        margin-bottom: 2px;


    }
    .platform-tool-updates img{
        object-fit: cover;
    }
    .platform-tool-updates .heading{
        font-size: 24px;
    }
    .platform-tool-updates .content{
        padding-top: 20px;
        font-size: 15px;
        margin-bottom: 20px;
    }
    .platform-tool-updates .whatsnew{
        width: 100%;
        height: 550px;
        position: absolute;
        top: 850px;
        left: 0px;
        margin-bottom: 2px;
    }
    .platform-tool-updates .google-pixel{
        width: 100%;
        height: 550px;
        position: absolute;
        top: 1300px;
        left: 0px;
        margin-bottom: 2px;
    }
    .platform-tool-updates .jetpack{
        width: 100%;
        height: 550px;
        position: absolute;
        top: 1750px;
        left: 0px;
        margin-bottom: 2px;
    }
    .platform-tool-updates .tool-updates{
        width: 100%;
        height: 360px;
        position: absolute;
        position: relative;
        top: 2200px;
        left: 0px;
    }
    .platform-tool-updates .tool-updates .heading{
        width: 90%;
        position: absolute;
        top: 100px;
        font-size: 32px;
    }
    .platform-tool-updates img{
        object-fit: contain;
    }

    
    .platform-tool-updates .tool-updates img{ 
        position: absolute;
        left: 0;
        top : 0px;
        width: 80px;
    }
    .platform-tool-updates .tool-updates .content{
        position: absolute;
        top: 120px;
        width: 100%;
        margin-top: 20px;

    }
    .platform-tool-updates .tool-updates .button{
        position: absolute;
        top : 220px;
        width: 100%;
    }
    .platform-tool-updates .tool-updates .button button{
        width: 100%;
    }
    .platform-tool-updates .flamingo{
        width: 100%;
        height: 550px;
        position: absolute;
        top: 2500px;
        left: 0px;
        margin-bottom: 10px;
    }
    .platform-tool-updates .electric-eel{
        width: 100%;
        height: 550px;
        position: absolute;
        top: 3000px;
        left: 0px;

    }
}
/* --------------------- SECTION PLATFORM UPDATES ENDS---------------------------------- */
/* -------------------------EXPLORE MORE BEGINS--------------------------------- */
.section-explore-more{
}
.container1 .boxes-explore-more{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.container1 .boxes-explore-more .box-explore-more{
    display: flex;
    flex-direction: column;
    width: 23%;
    height: auto;
    background-color: #073042;
    color: #FFFFFF;
    padding: 30px;
    margin-bottom: 12px;
}
.container1 .boxes-explore-more .box-explore-more .heading{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    height: 100px;
}
.container1 .boxes-explore-more .box-explore-more .heading a:hover{
    color: #3DDC84;
}
.container1 .boxes-explore-more .box-explore-more .content{
    font-size: 20px;
    word-spacing: 2;
    line-height: 1.5;
    padding-bottom: 50px;
    height: 150px;
    letter-spacing: .2;

}
.container1 .boxes-explore-more .box-explore-more .image{
    align-self: flex-end;
   
}
.container1 .boxes-explore-more .box-explore-more img{

    width: 100px;
    height: 100px;
    align-self: flex-end;
    
}
@media screen and (max-width : 700px){
   
    .container1 .boxes-explore-more{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .container1 .boxes-explore-more .box-explore-more{
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      position: relative;



    }
    .container1 .boxes-explore-more .box-explore-more .heading{
        width: 100%;
        height: auto;
        font-size: 20px;
    }
    .container1 .boxes-explore-more .box-explore-more .content{
        width: 60%;
        height: auto;
        padding-bottom: 0;
        margin-bottom: 0;

    }
    .container1 .boxes-explore-more .box-explore-more .image{
        position: absolute;
        top: 30%;
        right: 10px;

    }

}


/* ------------------------EXPLORE MORE ENDS---------------------------------- */



/* --------------------------- LATEST NEWS AND VIDEOS SECTION BEGINS----------------- */
.latest-news-div{
    width: 100%;
    height: 1350px;
    color: black;
    background-color: #F8F9FA;
    position: relative;
    margin-top: 20px;
}
.latest-news-div .latest-news-box{
    width: 260px;
    height: 870px;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.latest-news-div .image{
    margin: 10px;
}
.latest-news-div .image img{}
.latest-news-div .heading{
    font-size: 45px;
    font-weight: bolder;
    letter-spacing: 1.5;
    line-height: 1.0;

}
.latest-news-div .content{
    color: #3C4043;
    line-height: 1.5;
    font-size: 16px;
}
.latest-news-div .button{
   
}
.latest-news-div .button button{
    width: 90%;
    height: 50px;
    background-color: #3DDC84;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    letter-spacing: 1;
    border-radius: 25%;
    padding: 10px 24px;
    border: none;
}

.latest-news-div .now-android {
   
    position: absolute;
    left: 420px;
    width: 32%;
    height: 550px;

}
.latest-news-div .stylus{
    position: absolute;
    width: 32%;
    height: 550px;
    right: 0px;
}
.latest-news-div .android-hdr{
    position: absolute;
    left: 420px;
    width: 32%;
    height: 550px;
    top: 450px;
}
.latest-news-div .ease-of-dev{
    position: absolute;
    width: 32%;
    height: 550px;
    right: 0px;
    top: 450px;
}
.latest-news-div .latest-videos{
    position: absolute;
    width: 260px;
    height: 430px;
    top: 900px;
}
.latest-news-div .yt-android1{
    position: absolute;
    left: 420px;
    width: 32%;
    height: 550px;
    top: 900px;
}
.latest-news-div .yt-android2{
    position: absolute;
    width: 32%;
    height: 550px;
    right: 0px;
    top: 900px;
}
.latest-news-div   .main-image img{
    width: 100%;
   height: 200px;
   object-fit: cover;

}
.latest-news-div  .platform{
    width: 100%;
    margin: 10px 0px ;
    padding: 10px 0px;
}
.latest-news-div .heading{
    font-size: 30px;
}

.latest-news-div .content{
    padding-top: 20px;
    color: #073042;
    font-weight: bold;
}

.latest-news-div .image-side img{
    margin: 10px;
}
.latest-news-div .heading-side {
    font-size: 38px;
    font-weight: bolder;
    letter-spacing: 1.5;
    line-height: 1.0;
    padding: 5px 0 10px 0px;
}
.latest-news-div .content-side {
    color: #3C4043;
    line-height: 1.5;
    font-size: 16px;
    padding-bottom: 20px;
}
.latest-news-div .button-side{
    width: 150px;
    border-radius: 25px;
}
.latest-news-div .button-side button{
    width: 100%;
    height: 45px;
    background-color: #3DDC84;
    color: black;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1.5;
    border-radius: 25px;
    border: none;
}
@media screen and (max-width : 700px){
    .latest-news-div{
        width: 100%;
        height: 2990px;
        position: relative;
    }
    .latest-news-div .latest-news-box{
        width: 100%;
        height: auto;
        position: absolute;
        top: 10px;
        left: 0px;
        padding-bottom: 10px;

    }
    
    .latest-news-div .latest-news-box img{
        width: 80px;
    }
    .latest-news-div  .heading-side{
        font-size: 30px;
        font-weight: bold;
    }
    .latest-news-div .button-side{
        width: 100%;
    }
    .latest-news-div .now-android{
        width: 100%;        
        height: 350px;
        position: absolute;
        top: 280px;
        left: 0px;
        margin-top: 20px;


    }
    .latest-news-div .stylus{
        width: 100%;
        height: 350px;
        top: 650px;
        left: 0px;
        margin-bottom: 2px;

    }
    .latest-news-div .android-hdr{
        width: 100%;
        height: 350px;
        position: absolute;
        top: 1000px;
        left: 0px;
        margin-bottom: 2px;

    }
    .latest-news-div .ease-of-dev{
        width: 100%;
        height: 450px;
        position: absolute;
        top: 1350px;
        left: 0px;
        margin-bottom: 2px;

    }
    .latest-news-div .latest-videos{
        width: 100%;
        height: 320px;
        position: absolute;
        top: 1765px;
        left: 0px;

    }
    .latest-news-div .latest-videos .button{
        width: 150px;
        border-radius: 25%;
    }
    .latest-news-div .yt-android1{
        width: 100%;
        height: 500px;
        position: absolute;
        top: 2100px;
        left: 0px;
        margin-bottom: 10px;
        }
    .latest-news-div .yt-android2{
        width: 100%;
        height: 400px;
        position: absolute;
        top: 2520px;
        left: 0px;
    }
    .latest-news-div .heading{
        font-size: 25px;
    }
    .latest-news-div .platform{
        color: #5F6368;

    }
    .latest-news-div .content{
        color: #073042;

    }
    
}


/* ---------------------------LATEST NEWS AND VIDEOS SECTION ENDS------------------- */


/* -----------------VISIT OUR COMMUNITY SECTION BEGINS----------------------------- */
.container1 h1{
    font-size: 40px;
    padding: 30px 0px;
}
.container1 .boxes{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0px;
    
}
.container1 .boxes .box{
    width: 31%;
    height: 420px;
    background-color: #eff7cf;
    padding: 35px;
}
.container1 .boxes .box img{

    width: 20%; 
    height: 20%;
    padding-bottom: 20px;
}
.container1 .boxes .box .heading{
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
    padding-bottom: 18px;
}
.container1 .boxes .box .content{
    font-size: 19px;
    line-height: 1.6;
    padding-bottom: 40px;
}
@media screen and (max-width : 700px){
    .container1 h1{
        font-size: 30px;
        height: 60px;
    }
    .container1 .boxes {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .container1 .boxes .box{
        width: 100%;
        margin-bottom: 15px;
        height: 400px;
        position: relative;

        
    }
    .container1 .boxes .box .image{
    }
    .container1 .boxes .box .heading{
        height: 90px;
        font-size: 29px;
        font-weight: bold;
    }
    .container1 .boxes .box .content{
        height: 120px;
    }
    .container1 .boxes .box .link{
        height: auto;
        position: absolute;
        bottom: 40px;
    }

}
/* -----------------VISIT OUR COMMUNITY SECTION ENDS----------------------------- */
/* ------------------------------FOOTER 1 BEGINS-------------------------------------- */
.footer1{
    width: 100%;
    height: 150px;
    background-color:#FFFFFF ;
    margin: 50px 0px;
    border-top: 0.5px gainsboro solid;
    border-bottom: 0.5px gainsboro solid;
    display: flex;
    justify-content: space-around;
    padding: 18px 0px;

}
.footer1 .icons{
    display: flex;
     flex-direction: column; 
    width: 175px;

}
.footer1 .icons img{
    width: 50px;
    height: 50px;
    align-content: center;
    margin-left: 56px;

}
.footer1 .icons .heading{
    line-height: 1.5;
    font-weight: bold;
    text-align: center;

}
a:hover{
    color: blue;
}
.footer1 .icons .content{
    line-height: 1;
    text-align: center;
}
@media screen and (max-width : 700px){
    .footer1{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: auto;
        height: 175px;
        margin-bottom: 10px;

    }
    .footer1 .icons{
        display: flex;
        flex-direction: row;
        width: auto;
        margin-bottom: 10px;


        
    }
    .footer1 .icons img{
        width: 30px;
        height: 30px;
        padding-left: 0;
        margin-left: 20px

    }
    .footer1 .icons .heading{
        margin-left: 10px;
        color: #5F6368;
        font-size: 14px;
    }
    .footer1 .icons .content{
        display: none;
    }
    
}
/* ----------------------------------FOOTER 1 ENDS------------------------------------- */

/* ------------------------------FOOTER 2 BEGINS-------------------------------------- */

.footer2-div{
    margin: 10px;
    height: 300px;
    width: 100%;
    justify-content: space-evenly;
    display: flex;   
    
}
.footer2-div .box{   
    width: 250px;
    height: 200px;
 
}
.footer2-div .box .heading{
    margin:  15px 0px;
    color: #5f6368;
}

.footer2-div .box .content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 2.3;
    font-size: medium;
    color: #202124;
    font-weight :100;
    font-size: 14px;
}

@media screen and (max-width : 700px){
    .footer2-div{
        width: auto;
        height: 1500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0;
    }
    .footer2-div .box{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .footer2-div .box .heading{
        height: auto;        

    }
    .footer2-div .box .content{
        margin: 0px;

    }
}

/* ----------------------------------FOOTER 2 ENDS------------------------------------- */



/* ------------------------------FOOTER 3 BEGINS-------------------------------------- */

.footer3{ 
    margin: 10px;
}
.footer3 .options{
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 15px;
    border-top: 0.5px gainsboro solid;
    border-bottom: 0.5px gainsboro solid;

}

.footer3 .options img{
    width: 250px;
    height: 50px;
    padding-right: 50px;
}
.footer3 .options .icon1{
    width: 80px;
    padding-right: 20px;
    padding-top: 20px;
}
.footer3 .options .icon2{
    width: 80px;
    padding-right: 20px;
    padding-top: 20px;
}
.footer3 .options .icon3{
    width: 80px;
    padding-right: 20px;
    padding-top: 20px;
}
.footer3 .options .icon4{
    width: 200px;
    padding-right: 5px;
    padding-top: 20px;
}
.footer3 .options .icon5{
    width: 150px;
    padding-right: 20px;
    padding-top: 20px;
}
@media screen and (max-width : 700px){
    .footer3 .options{
        position: absolute;
        top: 13100px;
        width: 350px;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        height: auto;
        line-height: 0.8;
        border-top: 0.5px gainsboro solid;
        border-bottom: 0.5px gainsboro solid;
        padding-bottom: 50px;
    }
}
/* ----------------------------------FOOTER 3 ENDS------------------------------------- */

