*{
    list-style: none;
    text-decoration: none ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
/*---------------- FIRST SECTION BEGINS || WELCOME ------------------------*/
.container{
    width: 100%;
    height: 600px;
    background-color: #073042;     
    padding: 80px 100px;
}
.container .welcome{
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 64px 0 70px;
    padding: 0 100px 0 80px;
}
.welcome .right-text{
    width: 680px;
    height: 400px ;
    color: #FFFFFF;
    padding-left: 40px;
}
.welcome  .left-video img{
    width: 400px;
    height: 420px;

}
.welcome .right-text h1{

  font-size: 64px;
  font-size: bold;
  padding-bottom: 20px;

}
.welcome .right-text p{
    font-size: 20px;
    line-height: 1.5;
    font-weight: bold;
    padding-bottom: 50px;
}
.welcome .right-text button{
    color: black;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #3DDC84;
    font-size: 16px;
    font-weight: bold;
}
.welcome .right-text a{
    color: #3DDC84;
    padding-left: 6px;
    font-size: 16px;
    font-weight: bold;
}
@media screen and (max-width : 700px){
    .container{
        margin: 0px;
        padding: 0px;
    }
    .container .welcome{
        margin: 0;
        padding: 0;
    }
    .welcome .right-text{ 
        margin: 10px;
        padding: 10px;
    }
    .welcome .right-text button{
        width: 100%;
        margin: auto;
        margin-bottom: 22px;
    }
    .welcome .right-text a{
        margin: auto;
        padding-left: 38%;
        
    }
}
/*---------------- FIRST SECTION ENDS -|| WELCOME -----------------------*/

/* ------------------- DOWNLOAD-LAUNCH-VIEW  SECTION BEGINS---------------------------- */
.container1{
    height: 100%;
    margin: 0 15% 0 15%;

}
.boxes-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    padding-top: 50px;
}
.boxes-div .box{
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    background-color: #D7EFFE;
    padding: 20px;
    font-size: 20px;
    color: black;
}
.boxes-div .box img{
    width: 48px;
    height: 48px;
}

.boxes .box .text{
    font-weight: bold;
}

@media screen and (max-width : 700px){
    .container1{
        margin: 20px;
        padding: 0px;
    }


   .boxes-div{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    
    
   }
   .boxes-div .box{
    margin-bottom: 20px;
    max-width: 100%;
   }
}
/* --------------------- DOWNLOAD-LAUNCH-VIEW   SECTION ENDS---------------------------------- */



/* ---------------FEATURED BOXES SECTION BEGINS------------------------------ */
.container1 .featured-div{
    display:  flex;
    justify-content: space-between;
    height: 750px;
    padding : 20px 0px 50px 0px;
}

.container1 .featured-div .box-featured-left{
    background-color: #073042;     
    width: 50%;
    color: #FFFFFF;
    padding: 40px;
    display: flex;
}
.container1 .featured-div .gap-div{
    width : 50px;
    background-color: #FFFFFF;
}

.container1 .featured-div .box-featured-right{
    background-color: #D7EFFE;
    width: 50%;
    color: black;
    padding: 40px;
    display: flex;

}
.container1 .featured-div .left-text-div{
    width: 50%;
}
.container1 .featured-div  .right-img-div{
    position: relative;
}
.container1 .featured-div  .right-img-div img{
    position: absolute;
    top: 120px;
    left: 30px;
    width: 250px;
  
}

.container1 .featured-div .featured{
    font-size: 15px;
    padding-bottom: 20px;
}
.container1 .featured-div .heading{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    line-height: 1.5;
}

.container1 .featured-div .box-featured-left .content{
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 190px;

}
.container1 .featured-div .box-featured-left .left-text-div .buttonclass{
    padding-bottom: 50px;
}
.container1 .featured-div .box-featured-left .left-text-div button{
        width: 130px;
        height: 50px; 
        border: 2px #FFFFFF solid;
        color: #FFFFFF;
        background-color: #073042;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 25px;
        font-size: 15px;
        font-weight: 600;
        

}
.container1 .featured-div .box-featured-left .left-text-div .buttonclass  :hover{
    background-color: #FFFFFF;
    color: #073042;
}
.container1 .featured-div .box-featured-right .left-text-div .buttonclass  :hover{
    background-color: #FFFFFF;
    color: #073042;
    border: none;
}
.container1 .featured-div .box-featured-right .content{
    font-size: 20px;
    line-height: 1.5;
    padding-bottom: 60px;

}

.container1 .featured-div .box-featured-right .left-text-div .buttonclass{
   
}
.container1 .featured-div .box-featured-right .left-text-div button{
    width: 130px;
    height: 50px; 
    color: #073042;
    background-color: #D7EFFE;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    

}

.container1 .featured-div .image{
    
}
.container1 .featured-div .box-featured-left .left-text-div button{

}
@media screen and (min-width : 701px){
    .container1 .featured-div  .box-featured-left .left-text-div  img{
        display: none;
    }
    .container1 .featured-div .box-featured-right .left-text-div img{
        display: none;
    }
}
@media screen and (max-width : 700px){
    .container1 .featured-div{
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        margin-top: 0;
        padding-top: 0;

    }
    .container1 .featured-div .box-featured-left{
        width:auto;
        top :0px;
        display: flex;
        padding: 20px 20px;
        flex-direction: column;
        position: absolute;
        position: relative;
        height: 560px;

    }
    .container1 .featured-div  .box-featured-left .left-text-div {
        width: 100%;
        height: auto;
        margin: 0px;

    }
    .container1 .featured-div  .box-featured-left .left-text-div .heading{
        padding: 0;
        font-size: 24px;

    }
    .container1 .featured-div  .box-featured-left .left-text-div .content{
        height: 200px;

    }
    .container1 .featured-div  .box-featured-left .left-text-div .buttonclass{
        width: 88%;
        position: absolute;
        height: 60px;
        top: 300px;
        margin: auto;

    }
    .container1 .featured-div  .box-featured-left .left-text-div  .buttonclass button{
        width: 100%;
    
    }
    .container1 .featured-div  .box-featured-left .left-text-div  img{
        position: absolute;
        right: 20px;
        bottom: 40px;
        width: 130px;

    }

    .container1 .featured-div  .box-featured-left .right-img-div img{
        display: none;
    }



    .container1 .featured-div .box-featured-right{
        width: auto;
        top:0px;
        padding-top: 0px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        position: absolute;
        position: relative;
        margin-top: 20px;
        height: 700px;   
     
    }

    .container1 .featured-div .gap-div {
        width: 100%;
        height: 20px;
        background-color: #FFFFFF;
        display: none;
        border-bottom: 20px #FFFFFF solid;
    }

    .container1 .featured-div .box-featured-right .left-text-div {
        width: 100%;

    }
    
    .container1 .featured-div .box-featured-right .left-text-div .heading {
        width: auto;
        font-size: 22px;

    }
   
    .container1 .featured-div .box-featured-right .left-text-div .content {
        width: 100%;
        padding-bottom: 20px;
        line-height: 1.8;
    }
    .container1 .featured-div .box-featured-right .left-text-div .buttonclass{
        width: 100%;
        padding-bottom: 20px;
    }
    .container1 .featured-div .box-featured-right .left-text-div button{
        width: 100%;
        height: 50px;
    }
    .container1 .featured-div .box-featured-right .right-img-div{
        display: none;
    }
    .container1 .featured-div .box-featured-right .left-text-div img{
        position: absolute;
        right: 20px;
        bottom: 40px;
        width: 140px;
    }
}
/* ---------------FEATURED BOXES SECTION ENDS---------------------------------------- */
